@model DMYTest.Data.Models.Cart
@{
    ViewBag.Title = "Buy";
    Layout = "~/Views/Shared/Layout.cshtml";
}


<div class="modal-header">
    <h2>Buy</h2>
</div>

<div class="container">
    @using (Html.BeginForm("buypost", "sales", FormMethod.Post))
            {
                <div class="modal-body">
                    @Html.HiddenFor(c => c.CartID)
                    @Html.HiddenFor(c => c.Image)

                    <div class="form-group">
                        User Name :@Session["Ad"] @Session["Soyad"]
                    </div>
                    <div class="form-group">
                        Product Name :@Html.DisplayFor(c => c.Product.ProductName, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        Count :@Html.DisplayFor(c => c.Quantity, new { @class = "form-control" })
                    </div>
                    <div class="form-group">

                        <img src="~/Content/Image/@Model.Image" width="80" height="80" />

                    </div>
                    <div class="form-group">
                        Price :@Html.DisplayFor(c => c.Price, new { @class = "form-control" })
                    </div>

                </div>
                <div class="modal-footer" style="float:right;">
                    <button id="submit" class="btn btn-success">Buy</button>
                    <a href="/cart/index/" class="btn btn-danger">Cancel</a>
                </div>            
                     
      }
</div>